Allow private IP addresses as routable

Improvement idea: I think private IP addresses should be enabled for routing for tendermint. If anyone wants to use the code to run a private network for any reason (maybe they already have a private network with the other participants), they'll need to be able to route those addresses.

These are the addresses I'm talking about: (RFC1918)
10.0.0.0/8
192.168.0.0/16
172.16.0.0./12

Opened PR #1454 to show the exact change.

Current use-case: the local testnet setup we use (`make docker-start`) also uses internal IP addresses.

As the alternative suggestion, we add yet another config option `AllowPrivateIPs` (default: false) for whose who wants to run tendermint in a private network. Not really sure what's the best way to go.

That's also an interesting idea. @ebuchman care to chime in?

Not sure. I may still want to reject some subset in my private network? @greg-szabo ? probably not

Oh, users of private networks probably will want to restrict IP subset to some small set (10.11.12.XXX). Can they do that externally using other tools? iptables?

If `addr_book_strict = false` completely works around the `Routable` functions, then it's better to have some `allowPrivateIPs` option and enable RFC1918 (IPv4) and RFC4193 (IPv6).
Private networks can restrict access based on the netmask (and other methods too, like iptables). There's no point in trying to implement a network routing layer in the code.

RFC1918 - IPv4 private Internet IP addresses. Should be allowed to be routed (in private networks).
RFC3927 - IPv4 link-local IP addresses. Should not be allowed to be routed.
RFC4862 - IPv6 auto-configuration. The RFC talks about link-local addresses which should not be routed and global addresses which should be. The link-local addresses for IPv6 is defined in RFC4291, maybe that should be used instead of this RFC.
RFC4193 - IPv6 local addresses. Same as the private IPv4 addresses, this can be routed within a private network.
RFC4843 - IPv6-like protocol (experimental), uses crypto-hashes as addresses. This seems like a protocol written with us in mind (cryptographically secured communication between consenting hosts). You don't route it in the IPv6 layer. Instead you write an extra layer that handles routing. As long as we're not planning to use it, we can block routing.

I think multicast addresses should be disabled too (at least RFC5771 for IPv4 and RFC2373/RFC7371 for IPv6) but it's a whole can of worm when you start managing network segments. (Especially when IANA changes something.) It's worth considering _not checking_ IP routability or doing it in some sub-module that can be updated easily.


Between private_peers_ids and addr_book_strict this should be covered.