an issue of addrbook

We have set P2P.AddrBookStrict=false, because we do testing in LAN, to let this check be ignored:
```
func (na *NetAddress) Routable() bool {
	// TODO(oga) bitcoind doesn't include RFC3849 here, but should we?
	return na.Valid() && !(na.RFC1918() || na.RFC3927() || na.RFC4862() ||
		na.RFC4193() || na.RFC4843() || na.Local())
}
```
and configure netAddr to 0.0.0.0
-rpc --rpccorsdomain=* --rpcvhosts=*  --rpcaddr=0.0.0.0 --ws --wsaddr=0.0.0.0 --rpcapi

In the error logs, we found a strange id that comes from nowhere, we grep each folder of the nodes, and find it only appears in the addrbook of peer7: (peer7 is a new added node, initially we have peer0~peer6)

some part of its  addrbook:
```
{
			"addr": {
				"id": "53566d474865df0bca448b2d53a788a49be22bd9",
				"ip": "172.19.156.141",
				"port": 46656
			},
			"src": {
				"id": "016864656d7c6c9200b5ed239ea5a519f917732c",
				"ip": "0.0.0.0",
				"port": 46656
			},
			"attempts": 0,
			"last_attempt": "2019-12-14T05:19:40.560684731Z",
			"last_success": "0001-01-01T00:00:00Z",
			"bucket_type": 1,
			"buckets": [
				65,
				191,
				177,
				42
			]
		},
		{
			"addr": {
				"id": "e54e4393a66f328629feda4d3371d4176306e44c",
				"ip": "172.19.156.141",
				"port": 46666
			},
			"src": {
				"id": "53566d474865df0bca448b2d53a788a49be22bd9",
				"ip": "172.19.156.141",
				"port": 46656
			},
			"attempts": 0,
			"last_attempt": "2019-12-14T05:23:29.830479518Z",
			"last_success": "0001-01-01T00:00:00Z",
			"bucket_type": 1,
			"buckets": [
				193,
				42,
				177,
				191
			]
		}
	]
}
```
we launch two nodes on each virtual machine. one with port 46656 and the other with 46666. so the 0.0.0.0:46656 must be peer7 itself.
peer0: 156.141
peer7: 156.164
I research the code in switch and pex, but still cannot figure out how this 
```
"src": {
				"id": "016864656d7c6c9200b5ed239ea5a519f917732c",
				"ip": "0.0.0.0",
				"port": 46656
			},
```
comes from, we have no node with this id.  I can only guess it occurs in 
```
	// Send our pubkey and receive theirs in tandem.
	var trs, _ = cmn.Parallel(
		func(_ int) (val interface{}, err error, abort bool) {
			var _, err1 = cdc.MarshalBinaryLengthPrefixedWriter(conn, locEphPub)
			if err1 != nil {
				return nil, err1, true // abort
			}
			return nil, nil, false
		},
		func(_ int) (val interface{}, err error, abort bool) {
			var _remEphPub [32]byte
			var _, err2 = cdc.UnmarshalBinaryLengthPrefixedReader(conn, &_remEphPub, 1024*1024) // TODO
			if err2 != nil {
				return nil, err2, true // abort
			}
			return _remEphPub, nil, false
		},
	)

```
if the node handshakes with itself, the cmn.Parallel may lead it receiving its own sendSecret as the recvSecret? and the decrypted remotePubKey not true?  I don't know. I haven't looked into this func.

Can we modify  this func in netAddress.go:
```
// Same returns true is na has the same non-empty ID or DialString as other.
func (na *NetAddress) Same(other interface{}) bool {
	if o, ok := other.(*NetAddress); ok {
		if na.DialString() == o.DialString() {
			return true
		}
		if na.ID != "" && na.ID == o.ID {
			return true
		}
	}
	return false
}
```
add a new if:
```
if na.Local() && na.Port == o.Port {
			return true
		}
```

this func is called earlier before dialing, thus we don't handshake with ourselves.

```
for i := 0; i < len(perm); i++ {
		go func(i int) {
			j := perm[i]
			addr := netAddrs[j]

			if addr.Same(ourAddr) {  //called here
				sw.Logger.Debug("Ignore attempt to connect to ourselves", "addr", addr, "ourAddr", ourAddr)
				return
			}

			sw.randomSleep(0)

			err := sw.DialPeerWithAddress(addr)
			if err != nil {
				switch err.(type) {
				case ErrSwitchConnectToSelf, ErrSwitchDuplicatePeerID, ErrCurrentlyDialingOrExistingAddress:
					sw.Logger.Debug("Error dialing peer", "err", err)
				default:
					sw.Logger.Error("Error dialing peer", "err", err)
				}
			}
		}(i)
	}
```
But I think this modification is not so good, since if we call ourAddr.Same(addr), and if the ports of the two addresses duplicate, this func will judge they are the same addresss, but actually they are not.
